# Git
.git
.gitignore

# Build files
target/
!target/*.jar

# IDE files
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/

# Logs
logs/
*.log

# OS specific
.DS_Store
Thumbs.db

# Application specific
uploads/ 